/*----------------------------------------------Font*/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/*----------------------------------------------Colour-variables*/
:root {
--pink-: #d46b75;
--yellow-: #edbe4e;
--green-: #0e9e73;
--blue-: #000b93;
}

/*----------------------------------------------Box-sizing*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*----------------------------------------------General-styles*/
body {
  font-family: 'Hanken Grotesk', sans-serif;
  text-align: center;
  color: white;
  background-color: rgb(241, 246, 247);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

/*----------------------------------------------Blue section*/
.blue-bg {
  background-image: linear-gradient(#4d22c9, #6743ff);
  height: 40vh;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.blue-circle {
  width: 9rem;
  height: 9rem;
  background-image: linear-gradient(#4d22c9, #6743ff);
  border-radius: 9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*----------------------------------------------White section*/
.white-section {
  height: 50vh;
  color: black;
  margin: 2rem;
}

.summary-info {
  background-color: rgba(100, 100, 100, .2);
  height: 3rem;
}

.score-text {
  padding-left: 1rem;
  padding-right: 8rem;
}